@tailwind base;
@tailwind components;
@tailwind utilities;

@function to-rgb($value) {
  @return red($value), green($value), blue($value);
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  word-break: break-word;
  overflow-anchor: none;

  @apply bg-gradient-to-b from-bg-start to-bg-end;

  --color-bg-from: theme('colors.white');
  --color-bg-to: theme('colors.slate.200');

  --color-accent: theme('colors.violet.600');

  --color-text-primary: theme('colors.gray.800');
  --color-text-secondary: theme('colors.gray.600');

  --color-border-primary: theme('colors.slate.200');
  --color-border-secondary: theme('colors.slate.300');

  --bg-card-primary: theme('colors.slate.50');
  --bg-card-secondary: theme('colors.slate.200');
}

.dark {
  --color-bg-from: theme('colors.slate.900');
  --color-bg-to: theme('colors.black');

  --color-accent: theme('colors.violet.800');

  --color-text-primary: theme('colors.gray.200');
  --color-text-secondary: theme('colors.gray.400');

  --color-border-primary: theme('colors.slate.800');
  --color-border-secondary: theme('colors.slate.700');

  --bg-card-primary: theme('colors.slate.900');
  --bg-card-secondary: theme('colors.slate.800');
}

html,
body {
  @apply h-full min-h-full overflow-y-auto;
}

.dropzone button {
  @apply relative overflow-hidden;
}

.dropzone input[type='file'] {
  @apply absolute inset-0 block h-full w-full cursor-pointer opacity-0;
}
