###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/cache
var/log
vendor/
services/*/var
###< symfony/framework-bundle ###

.idea/
.vscode/
.env
.DS_Store
.phpactor.json

public/images
public/slink
/slink
/var/data/*.db
dump.rdb
docker-compose.prod.yaml

###> lexik/jwt-authentication-bundle ###
*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

