# OS
.DS_Store

# IDEs
.idea/
.vscode/
.phpactor.json

# Dependencies
node_modules/
vendor/

# Symfony
.env
.env.local
.env.local.php
.env.*.local
services/*/var/

# Secrets
*.pem
config/secrets/prod/prod.decrypt.private.php
var/data/keys/

# Testing
.phpunit.result.cache

# Build outputs
public/bundles/

# Project data
/slink/
*.db
*.rdb
*.log

# Local overrides
docker-compose.prod.yaml
docker/demo/pictures/
services/api/config/reference.php
public/images/
public/slink/

