parameters:
  storage:
    provider: '%env(string:STORAGE_PROVIDER)%'
    adapter:
      local:
        dir: '%kernel.project_dir%'
      smb:
        host: '%env(string:default::SMB_HOST)%'
        share: '%env(string:default::SMB_SHARE)%'
        workgroup: '%env(string:default::SMB_WORKGROUP)%'
        username: '%env(string:default::SMB_USERNAME)%'
        password: '%env(string:default::SMB_PASSWORD)%'
      s3:
        region: '%env(string:default::AMAZON_S3_REGION)%'
        bucket: '%env(string:default::AMAZON_S3_BUCKET)%'
        key: '%env(string:default::AMAZON_S3_ACCESS_KEY_ID)%'
        secret: '%env(string:default::AMAZON_S3_SECRET_ACCESS_KEY)%'
        endpoint: '%env(string:default::AMAZON_S3_ENDPOINT)%'
        forcePathStyle: '%env(bool:default::AMAZON_S3_FORCE_PATH_STYLE)%'
  user:
    allowRegistration: '%env(bool:USER_ALLOW_REGISTRATION)%'
    approvalRequired: '%env(bool:USER_APPROVAL_REQUIRED)%'
    password:
      minLength: '%env(int:USER_PASSWORD_MIN_LENGTH)%'
      requirements: '%env(int:USER_PASSWORD_REQUIREMENTS)%'
  image:
    maxSize: '%env(string:IMAGE_MAX_SIZE)%'
    stripExifMetadata: '%env(bool:IMAGE_STRIP_EXIF_METADATA)%'
    allowOnlyPublicImages: '%env(bool:IMAGE_ALLOW_ONLY_PUBLIC_IMAGES)%'
    compressionQuality: '%env(int:IMAGE_COMPRESSION_QUALITY)%'
    enableDeduplication: '%env(bool:IMAGE_ENABLE_DEDUPLICATION)%'
    forceFormatConversion: '%env(bool:IMAGE_FORCE_FORMAT_CONVERSION)%'
    targetFormat: '%env(string:IMAGE_TARGET_FORMAT)%'
    convertAnimatedImages: '%env(bool:IMAGE_CONVERT_ANIMATED_IMAGES)%'
  access:
    allowGuestUploads: '%env(bool:IMAGE_ALLOW_GUEST_UPLOADS)%'
    allowUnauthenticatedAccess: '%env(bool:USER_ALLOW_UNAUTHENTICATED_ACCESS)%'
    requireSsl: '%env(bool:REQUIRE_SSL)%'
  share:
    enableUrlShortening: '%env(bool:SHARE_ENABLE_URL_SHORTENING)%'
  demo:
    enabled: '%env(bool:DEMO_MODE_ENABLED)%'
    demoUsername: '%env(DEMO_USERNAME)%'
    demoPassword: '%env(DEMO_PASSWORD)%'
    demoEmail: '%env(DEMO_EMAIL)%'
    demoDisplayName: '%env(DEMO_DISPLAY_NAME)%'

when@prod:
  parameters:
    storage:
      provider: '%env(string:STORAGE_PROVIDER)%'
      adapter:
        local:
          dir: '/app'
        smb:
          host: '%env(string:default::SMB_HOST)%'
          share: '%env(string:default::SMB_SHARE)%'
          workgroup: '%env(string:default::SMB_WORKGROUP)%'
          username: '%env(string:default::SMB_USERNAME)%'
          password: '%env(string:default::SMB_PASSWORD)%'
        s3:
          region: '%env(string:default::AMAZON_S3_REGION)%'
          bucket: '%env(string:default::AMAZON_S3_BUCKET)%'
          key: '%env(string:default::AMAZON_S3_ACCESS_KEY_ID)%'
          secret: '%env(string:default::AMAZON_S3_SECRET_ACCESS_KEY)%'
          endpoint: '%env(string:default::AMAZON_S3_ENDPOINT)%'
          forcePathStyle: '%env(bool:default::AMAZON_S3_FORCE_PATH_STYLE)%'
