{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "pluginSearchDirs": false,
  "importOrder": [
    "^@slink/.*css$",
    "^(.app|.lib|svelte|@iconify)/(.*)$",
    "^@slink/(api|store)/(.*)$",
    "^@slink/lib/(.*)$",
    "^@slink/utils/(.*)$",
    "^@slink/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
