services:
  slink:
    image: anirdev/slink:latest
    container_name: slink-demo
    restart: unless-stopped
    env_file:
      - ./demo/.env
    environment:
      - DEMO_MODE_ENABLED=true
      - USER_APPROVAL_REQUIRED=false
      - USER_ALLOW_GUEST_UPLOADS=false
      - USER_ALLOW_UNAUTHENTICATED_ACCESS=true
      - USER_PASSWORD_REQUIREMENTS=3
      - IMAGE_MAX_SIZE=2M
      - STORAGE_PROVIDER=local
    volumes:
      - demo_data:/app/var/data
      - demo_images:/app/slink/images
      - demo_cache:/app/slink/cache
      - demo_jwt:/services/api/config/jwt
      - ./demo/pictures:/app/docker/demo/pictures:ro
    ports:
      - '3000:3000'
    networks:
      - slink-demo

  slink-demo-manager:
    build:
      context: ..
      dockerfile: docker/demo/Dockerfile.demo
    container_name: slink-demo-manager
    restart: no
    env_file:
      - ./demo/.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - slink-demo
    depends_on:
      - slink

networks:
  slink-demo:
    driver: bridge

volumes:
  demo_data:
    driver: local
  demo_images:
    driver: local
  demo_cache:
    driver: local
  demo_jwt:
    driver: local
