{
	admin off
	auto_https off
	persist_config off
	log {
		level ERROR
	}
	servers {
		protocols h1 h2c
	}
	frankenphp {
		worker {
			file /services/api/public/index.php
		}
	}
}

:8080 {
	mercure {
		publisher_jwt {env.MERCURE_JWT_SECRET}
		subscriber_jwt {env.MERCURE_JWT_SECRET}
		anonymous {
			subscribe comments/*
		}
		cors_origins *
		publish_origins *
		subscriptions
	}

	root * /services/api/public
	php_server
}
