@import 'tailwindcss';

@import './theme/theme.default.css' layer(theme);
@import './theme/theme.dark.css' layer(theme);
@import './theme/theme.sidebar.css' layer(theme);

@custom-variant dark (&:where(.dark, .dark *));

@plugin 'daisyui';

@source inline("{,}grid-cols-{1..12}");
@source inline("{,}gap-{0..12}");

@utility text-* {
  color: --value(--color- * -text) !important;
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
  word-break: break-word;
  overflow-anchor: none;

  @apply from-bg-start to-bg-end overflow-hidden bg-linear-to-b text-[var(--color-text-primary)] antialiased;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
  @apply h-full min-h-full;
}

#main {
  overflow-y: auto !important;
  scrollbar-gutter: stable;
}

*:focus-visible {
  outline: none;
}

.dropzone button {
  @apply relative overflow-hidden;
}

.dropzone input[type='file'] {
  @apply absolute inset-0 block h-full w-full cursor-pointer opacity-0;
}

.kbd {
  @apply border-gray-600 bg-gray-800 font-mono text-white;
}

.light .kbd {
  @apply border-gray-200 bg-gray-100 text-gray-900;
}
