<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.4" />
        <server name="KERNEL_CLASS" value="Slink\Shared\Infrastructure\Kernel" />
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/*/Infrastructure/Migrations</directory>
            <file>src/Slink/Shared/Infrastructure/Kernel.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="var/coverage/html"/>
            <text outputFile="var/coverage/coverage.txt"/>
            <clover outputFile="var/coverage/clover.xml"/>
        </report>
    </coverage>

    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension" />
    </extensions>
</phpunit>
