@theme {
  /* Animations */
  --animation-spin-slow: spin 2s linear infinite;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* Colors */
  --color-button-accent: var(--color-blue-500);
  --color-button-accent-text: var(--color-white);
  --color-button-dark: var(--color-gray-800);
  --color-success: var(--color-teal-500);
  --color-rc-success: var(--color-teal-500);
  --color-danger: var(--color-rose-700);
  --color-rc-danger: var(--color-rose-500);
  --color-warning: var(--color-amber-500);
  --color-rc-warning: var(--color-amber-500);
  --color-description-border: var(--color-slate-400);
  --color-input-error: var(--color-red-500);
  --color-dropdown-accent: var(--color-indigo-500);
  --color-loader-default: var(--color-indigo-500);

  --color-bg-start: var(--color-white);
  --color-bg-end: var(--color-gray-100);
  --color-text-primary: var(--color-gray-800);
  --color-text-secondary: var(--color-gray-600);
  --color-accent: var(--color-violet-600);
  --color-bc-dropzone-primary: var(--color-gray-200);
  --color-bc-dropzone-secondary: var(--color-gray-300);
  --color-card-primary: var(--color-white);
  --color-card-secondary: var(--color-gray-100);
  --color-button-default-text: var(--color-gray-800);
  --color-bc-button-default: var(--color-gray-200);
  --color-button-default-hover: var(--color-gray-100);
  --color-button-default-hover-text: var(--color-gray-900);
  --color-button-invisible-hover: var(--color-gray-400);
  --color-button-invisible-text: var(--color-gray-800);
  --color-toggle-default: var(--color-gray-200);
  --color-toggle-default-checked: var(--color-gray-800);
  --color-toggle-default-text: var(--color-gray-600);
  --color-toggle-default-checked-text: var(--color-gray-200);
  --color-toggle-default-hover-text: var(--color-gray-800);
  --color-toggle-default-hover-checked-text: var(--color-gray-100);
  --color-bc-toggle-default: var(--color-gray-300);
  --color-bc-toggle-default-checked: var(--color-gray-300);
  --color-toggle-primary: var(--color-gray-100);
  --color-toggle-primary-checked: var(--color-indigo-600);
  --color-toggle-primary-text: var(--color-gray-600);
  --color-toggle-primary-checked-text: var(--color-gray-100);
  --color-toggle-primary-hover-text: var(--color-gray-800);
  --color-toggle-primary-hover-checked-text: var(--color-white);
  --color-bc-toggle-primary: var(--color-gray-200);
  --color-bc-toggle-primary-checked: var(--color-gray-200);
  --color-toggle: var(--color-gray-300);
  --color-toggle-checked: var(--color-gray-300);
  --color-input-label: var(--color-gray-800);
  --color-input-text: var(--color-gray-700);
  --color-input: var(--color-white);
  --color-bc-input: var(--color-gray-300);
  --color-bc-input-focus: var(--color-blue-400);
  --color-rc-input-focus: var(--color-blue-400);
  --color-bc-header: var(--color-gray-100);
  --color-bc-delimiter: var(--color-gray-300);
}
