.dark {
  --color-bg-start: var(--color-slate-900);
  --color-bg-end: var(--color-black);
  --color-text-primary: var(--color-gray-200);
  --color-text-secondary: var(--color-gray-400);
  --color-accent: var(--color-violet-800);
  --color-bc-dropzone-primary: var(--color-slate-800);
  --color-bc-dropzone-secondary: var(--color-slate-700);
  --color-card-primary: var(--color-slate-900);
  --color-card-secondary: var(--color-slate-800);
  --color-button-default-text: var(--color-gray-400);
  --color-bc-button-default: var(--color-zinc-800);
  --color-button-default-hover: var(--color-gray-700);
  --color-button-default-hover-text: var(--color-gray-200);
  --color-button-invisible-hover: var(--color-white);
  --color-button-invisible-text: var(--color-white);
  --color-toggle-default: var(--color-gray-700);
  --color-toggle-default-checked: var(--color-gray-900);
  --color-toggle-default-text: var(--color-gray-400);
  --color-toggle-default-checked-text: var(--color-gray-200);
  --color-toggle-default-hover-text: var(--color-gray-200);
  --color-toggle-default-hover-checked-text: var(--color-gray-300);
  --color-bc-toggle-default: var(--color-gray-400);
  --color-bc-toggle-default-checked: var(--color-gray-200);
  --color-toggle-primary: var(--color-gray-800);
  --color-toggle-primary-checked: var(--color-indigo-600);
  --color-toggle-primary-text: var(--color-gray-200);
  --color-toggle-primary-checked-text: var(--color-gray-200);
  --color-toggle-primary-hover-text: var(--color-gray-200);
  --color-toggle-primary-hover-checked-text: var(--color-gray-300);
  --color-bc-toggle-primary: var(--color-gray-200);
  --color-bc-toggle-primary-checked: var(--color-gray-200);
  --color-toggle: var(--color-gray-300);
  --color-toggle-checked: var(--color-gray-300);
  --color-input-label: var(--color-gray-200);
  --color-input-text: var(--color-gray-300);
  --color-input: var(--color-gray-800);
  --color-bc-input: var(--color-gray-600);
  --color-bc-input-focus: var(--color-blue-300);
  --color-rc-input-focus: var(--color-blue-300);
  --color-bc-header: var(--color-gray-800);
  --color-bc-delimiter: var(--color-gray-700);
}
