@layer presets {
  [data-theme='catppuccin'] {
    --color-background: light-dark(
      oklch(0.9578 0.0058 264.53),
      oklch(0.2429 0.0304 283.91)
    );
    --color-foreground: light-dark(
      oklch(0.4355 0.043 279.33),
      oklch(0.8787 0.0426 272.28)
    );
    --color-accent: light-dark(
      oklch(0.5547 0.2503 297.02),
      oklch(0.7871 0.1187 304.77)
    );
    --color-primary: light-dark(
      oklch(0.5586 0.2255 262.09),
      oklch(0.7664 0.1113 259.88)
    );
    --color-success: light-dark(
      oklch(0.625 0.1772 140.44),
      oklch(0.8577 0.1092 142.72)
    );
    --color-warning: light-dark(
      oklch(0.714 0.1494 67.78),
      oklch(0.9193 0.0704 86.53)
    );
    --color-danger: light-dark(
      oklch(0.5505 0.2155 19.81),
      oklch(0.7556 0.1297 2.76)
    );
    --color-info: light-dark(
      oklch(0.682 0.1448 235.38),
      oklch(0.8467 0.0833 210.25)
    );
  }
}
