run-name: Release v${{ github.event.inputs.version }}
name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        default: "1.0.0"

permissions:
  contents: write

env:
  tag: v${{ github.event.inputs.version }}

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  version:
    name: Bump Version
    runs-on: ubuntu-latest
    needs: ci
    outputs:
      prerelease: ${{ steps.semver.outputs.prerelease }}
      ref: ${{ steps.tag.outputs.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get versions
        id: version
        run: |
          latest=$(git describe --tags --abbrev=0 2>/dev/null)
          echo "latest=${latest#v}" >> $GITHUB_OUTPUT
          echo "current=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT

      - uses: madhead/semver-utils@v4
        id: semver
        with:
          version: ${{ steps.version.outputs.current }}
          compare-to: ${{ steps.version.outputs.latest }}

      - name: Validate version
        run: |
          if [[ -z "${{ steps.semver.outputs.release }}" ]]; then
            echo "Invalid version format. Please use a valid semver version."
            exit 1
          fi

      - name: Check version is greater
        run: |
          if [[ "${{ steps.semver.outputs.comparison-result }}" != ">" ]]; then
            printf "Version %s is not greater than the last version %s" ${{ steps.version.outputs.current }} ${{ steps.version.outputs.latest }}
            exit 1
          fi

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Bump client version
        run: npm --prefix ./services/client version ${{ env.tag }}

      - name: Commit version
        uses: ./.github/actions/commit-bot
        with:
          commit-message: "chore: Bump version to ${{ env.tag }}"
          files: ./services/client/package.json
          push: false

      - name: Tag version
        id: tag
        run: |
          git tag ${{ env.tag }}
          echo "ref=$(git rev-parse ${{ env.tag }})" >> $GITHUB_OUTPUT

      - name: Push changes
        run: git push --atomic origin HEAD:main ${{ env.tag }}

  build:
    name: Build
    needs: version
    uses: ./.github/workflows/docker-build.yml
    with:
      tag: v${{ github.event.inputs.version }}
      latest: ${{ needs.version.outputs.prerelease == '' }}
      ref: ${{ needs.version.outputs.ref }}
    secrets: inherit

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs:
      - version
      - build
    steps:
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          flags=""
          if [[ "${{ needs.version.outputs.prerelease }}" != "" ]]; then
            flags="--prerelease"
          fi
          gh release create ${{ env.tag }} \
            --repo="$GITHUB_REPOSITORY" \
            --title=${{ env.tag }} \
            --generate-notes \
            $flags
