@theme {
  /* Radius */
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Design System Variables */
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --switch-unchecked: oklch(0.85 0.008 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0 / 0.7);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375 / 0.8);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32 / 0.2);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* Mapped Color Variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-switch-unchecked: var(--switch-unchecked);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Animations */
  --animation-spin-slow: spin 2s linear infinite;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* Colors */
  --color-button-accent: var(--color-blue-500);
  --color-button-accent-text: var(--color-white);
  --color-button-dark: var(--color-gray-800);
  --color-success: var(--color-teal-500);
  --color-rc-success: var(--color-teal-500);
  --color-danger: var(--color-rose-700);
  --color-rc-danger: var(--color-rose-500);
  --color-warning: var(--color-amber-500);
  --color-rc-warning: var(--color-amber-500);
  --color-description-border: var(--color-slate-400);
  --color-input-error: var(--color-purple-600);
  --color-dropdown-accent: var(--color-indigo-500);
  --color-loader-default: var(--color-indigo-500);

  --color-bg-start: var(--color-white);
  --color-bg-end: var(--color-gray-100);
  --color-text-primary: var(--color-gray-800);
  --color-text-secondary: var(--color-gray-600);
  --color-accent: var(--color-violet-600);
  --color-bc-dropzone-primary: var(--color-gray-200);
  --color-bc-dropzone-secondary: var(--color-gray-300);
  --color-card-primary: var(--color-white);
  --color-card-secondary: var(--color-gray-100);
  --color-button-default-text: var(--color-gray-800);
  --color-bc-button-default: var(--color-gray-200);
  --color-button-default-hover: var(--color-gray-100);
  --color-button-default-hover-text: var(--color-gray-900);
  --color-button-invisible-hover: var(--color-gray-400);
  --color-button-invisible-text: var(--color-gray-800);
  --color-toggle-default: var(--color-gray-200);
  --color-toggle-default-checked: var(--color-gray-800);
  --color-toggle-default-text: var(--color-gray-600);
  --color-toggle-default-checked-text: var(--color-gray-200);
  --color-toggle-default-hover-text: var(--color-gray-800);
  --color-toggle-default-hover-checked-text: var(--color-gray-100);
  --color-bc-toggle-default: var(--color-gray-300);
  --color-bc-toggle-default-checked: var(--color-gray-300);
  --color-toggle-primary: var(--color-gray-100);
  --color-toggle-primary-checked: var(--color-indigo-600);
  --color-toggle-primary-text: var(--color-gray-600);
  --color-toggle-primary-checked-text: var(--color-gray-100);
  --color-toggle-primary-hover-text: var(--color-gray-800);
  --color-toggle-primary-hover-checked-text: var(--color-white);
  --color-bc-toggle-primary: var(--color-gray-200);
  --color-bc-toggle-primary-checked: var(--color-gray-200);
  --color-toggle: var(--color-gray-300);
  --color-toggle-checked: var(--color-gray-300);
  --color-input-label: var(--color-gray-800);
  --color-input-text: var(--color-gray-700);
  --color-input: var(--color-white);
  --color-bc-input: var(--color-gray-300);
  --color-bc-input-focus: var(--color-blue-400);
  --color-rc-input-focus: var(--color-blue-400);
  --color-bc-header: var(--color-gray-100);
  --color-bc-delimiter: var(--color-gray-300);
}
